html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1.125rem;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

section {
  margin: 0;
  display: grid;
}

div {
  margin-top: 1.5rem;
}

p {
  font-weight: normal;
  font-size: 1rem;
  padding: .25rem;
}

.icon {
  display: flex;
  text-align: center;
  color: #fff;
  stroke:#ff9500;
  stroke-width: 4px;
  position: relative;
  height: 8em;
  width: 8em;
}

.icon:hover,
.icon:focus {
  color: #fff;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

a {
  border: .2rem solid #fff;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  display: block;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
}

@media only screen and (min-width: 38em){

}
